<div class="container">

<div>
<h2>Welcome to What Song</h2>
<p id="directions">Search for an artist below, then vote on the songs you'd like to hear them play at an upcoming show.</p>
</div>

<%#=@test%>

<div class="search-form">
<%= form_tag('/search', method: 'get') do %>
  <%= label_tag(:q, 'Search by Artist:') %>
  <%= text_field_tag(:q) %>
  <%= submit_tag('Go') %>
<% end %>
</div>

<% if @artist %>
<div class="artist-search-results">
<img src='<%=@artist_img%>' alt='artist-img' id='artist-img'/>
<h1><%=@artist%></h1>
</div>
<div class="concert-search">

<h3> Upcoming Shows </h3>
<%if @concerts%>
<% @concerts.each do |show| %>
<div class="single-concert-details">
<h4>
<%= show['title']%>
</h4>
<p><%= show['formatted_datetime']%></p>
<button class="going" id="show-<%= @concerts.index(show)%>">I'm Going</button>
<br>
<div class="top-tracks-search">
<% if @song_results %>
<div class="top-tracks" id="tracks">
<h3>Top Tracks</h3>
<p> Select up to 3 songs for your upcoming concert </p>

  <% @song_results.each do |track| %>
  <div class="single-track">
  <img src='<%=track.album.images[2]['url']%>'/>
  <p class="track-name" id="<%=@song_results.index(track)%>"><%= track.name %></p>
  <button class="listen" value="<%=track.preview_url%>">Listen</button>
  <p> Vote </p>
  </div>
  <%end%>

<%end%>
<p>Don't see the song you're looking for? Search here:</p>
<!--Search field for specific song will go here-->
<p>Submit Songs</p>
</div><!-- End top-tracks div -->
</div><!--End Concert top-tracks-search div-->
</div><!--End single-Concert-Details div-->

<% end %> <!--End Concerts.each-->
<% end %> <!--End if Concerts-->





<% end %><!--End if artist-->
</div>

</div> <!--End container class-->

