<p>you logged in!</p>
<div class="search-form">
<%= form_tag('/search', method: 'get') do %>
  <%= label_tag(:q, 'Search for an artist:') %>
  <%= text_field_tag(:q) %>
  <%= submit_tag('Search') %>
<% end %>
</div>

<% if @artist %>
<div class="artist-search-results">
<h1><%=@artist%></h1>
</div>
<div class="concert-search">

<h3> Upcoming Shows </h3>
<%if @concerts%>
<% @concerts.each do |show| %>
<div>
<p>
<%= show['title']%>
</p>
<p><%= show['formatted_datetime']%></p>
<div class="top-tracks-search">
<%= form_tag('/going', method: 'get') do %>
  <%= hidden_field_tag(:user, @artist) %>
  <%= submit_tag("I'm Going")%>
  <% end %> <!--End I'm Going form-->
<% end %> <!--End Concerts.each-->
<% end %> <!--End if Concerts-->
</div>

<% if @song_results %>
<div class="top-tracks">
<h3>Top Tracks</h3>
<p> Select up to 5 songs for your upcoming concert </p>
  <% @song_results.each do |track| %>
  <p><%= track.name %></p>
  <p> Listen </p>
  <p> Vote </p>
  <%end%>
<%end%>
<p>Don't see the song you're looking for? Search here:</p>
<!--Search field for specific song goes here-->
<p>Submit Songs</p>
</div>

</div><!--End Concert Details div-->

<% end %><!--End if artist-->


</div>

